.footer {
  .footer-container {
    padding: 3rem 0 7rem;
    text-align: center;
    @media screen and (min-width: 1200px) {
      & {
        padding: 4rem 0 3rem;
      }
    }
    .footer-title {
      font-size: var(--h1-font-size);
      font-weight: var(--font-semi-bold);
      margin-bottom: 1rem;
    }
    .footer-list,
    .footer-social {
      display: flex;
      justify-content: center;
    }
    .footer-list {
      margin: 2.5rem 0;
      column-gap: 2.5rem;
      @media screen and (min-width: 1200px) {
        & {
          column-gap: 3rem;
          margin: 3rem 0;
        }
      }
      .footer-link {
        color: var(--title-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-social {
      column-gap: 1.25rem;
      @media screen and (min-width: 1200px) {
        & {
          column-gap: 2rem;
        }
      }
      .footer-social-link {
        font-size: 1.25rem;
        color: var(--title-color);
        transition: transform 0.3s;
        @media screen and (min-width: 1200px) {
          & {
            font-size: 1.5rem;
          }
        }
        &:hover {
          transform: translateY(-0.15rem);
        }
      }
    }
    .footer-copyright {
      display: block;
      margin-top: 3.5rem; // 4.5rem
      font-size: var(--smaller-font-size);
      color: var(--text-color-light);
      @media screen and (min-width: 1200px) {
        & {
          margin-top: 4.5rem;
        }
      }
    }
  }
}