@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
/* Start Global Rule */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: backgroundcolor .4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
  @media screen and (max-width: 340px) {
    & {
      padding-inline: 1rem;
    }
  }
  @media screen and (min-width: 1048px) {
    & {
      margin-inline: auto;
    }
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
  @media screen and (min-width: 1023px) {
    & {
      padding-block: 8rem 0;
    }
  }
}

.section-border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
  @media screen and (min-width: 1200px) {
    & {
      padding-bottom: 6rem !important;
    }
  }
}

.section-title, 
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
  @media screen and (min-width: 1200px) {
    & {
      margin-bottom: 5rem;
    }
  }
}

.main {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #bdc0c2;
}

::-webkit-scrollbar-thumb {
  background-color: #a2a6a9;
  border-radius: 0.5rem;
  &:hover {
    background-color: #888d91;
  }
}

.scroll-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 7.5rem;
  right: 1rem;
  display: none;
  z-index: 9999;
  @media screen and (min-width: 1023px) {
    & {
      right: 3rem;
      bottom: 5rem;  
    }
  }
}
.scroll-to-top .up {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 20px #445b6f26;
  cursor: pointer;
  transition: 0.3s;
}

.scroll-to-top .up::before {
  font-family: "FontAwesome";
  content: "\f077";
  font-size: 20px;
  position: relative;
  top: 4px;
}

/* End Global Rule */